@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET EVERYTHING */
:root {
  font-family: 'Inter', sans-serif;
  background-color: #F5F5EB;
}

/* Kill the blue link/button colors globally */
a, button {
  color: inherit;
  text-decoration: none;
}

/* Kill the blue hover/focus outline globally */
a:hover, button:hover {
  color: inherit; /* logic is handled in React classes */
}

button:focus, button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}